.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.red {
  background-color: '#ab192d';
}

.container {
  /* background-color: var(--primary-color); */
  color: var(--white-color);
  width: calc(min(400px, 100vw));
  overflow: hidden;
  text-align: left;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.to {
  align-self: flex-end !important;
}

.subText {
  font-size: 0.65rem;
  color: var(--black-color);
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  margin-top: 0.25rem;
}

.subText.to {
  align-self: flex-end;
  align-items: flex-end;
}
